* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.titulo {
  color: navy;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: initial;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 2em;
}

p {
  color: #f3f3fc;
  background-color: #0e0b25;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  word-spacing: 12px;
}

ol {
  color: #f4f4f8;
  background-color: #141c38;
  font-family: 'Nanum Gothic', sans-serif;
  list-style-position: inside;
}

th {
  color: #06253a;
  font-family: 'Nanum Gothic', sans-serif;
}

h2 {
  color: #207fb6;
  font-family: 'Nanum Gothic', sans-serif;
}

/*ul {
    list-style: none;
    background-color: papayawhip;
    font-size: 0;

}*/
a {
  text-decoration: none;
  color: navy;
}

section p {
  color: #b1b1b1;
  font-family: 'Nanum Gothic', sans-serif;
}

.subTitulo {
  color: navy;
  text-decoration: underline;
}

/*nav ul li {
    display: inline-block;
    background-color: papayawhip;
    width: 15%;
    height: 30px;
    line-height: 30px;
    position: relative;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}*/
section {
  border: 3px solid gray;
  background-color: lightskyblue;
  padding: 20px;
}

li a {
  text-decoration: none;
}

li a:hover {
  color: peru;
}

/*ul ul {
    position: absolute;
    display: none;
}

/*ul ul li {
    display: block;
}

ul li:hover ul {
    display: block;
}

ul ul li a {
    color: black;
    font-size: 12px;
}*/
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 1 / span 3;
}

.segurosPersonas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

.personas article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.imgArticle {
  width: 300px;
}

.segurosEmpresas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.empresas article {
  width: 40%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

form {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

container {
  display: -ms-grid;
  display: grid;
  border: navy solid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
}

container > * {
  background-color: #f5f2ce;
  border: 1px solid #1f87c4;
  text-align: center;
  color: #2a84ad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: (100px)[5];
      grid-template-rows: repeat(5, 100px);
}

@media (min-width: 320px) and (max-width: 600px) {
  header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
  }
  .container {
    -ms-grid-rows: (100px)[5];
        grid-template-rows: repeat(5, 100px);
    display: -ms-grid;
    display: grid;
    border: navy solid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
  }
}

.gradiente {
  height: auto;
  width: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(#d4e4ee), to(#132fce));
  background-image: linear-gradient(to left, #d4e4ee, #132fce);
}

.img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

/*.menu {
    display: inline-block;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    height: 1vh;
    grid-area: menu1;
}

.menu li {
    margin: 40px 20px;
    font-size: 20px;
    transition: transform 0.5s ease;
}

.menu li:hover {
    transform: translateX(0.5em);
    cursor: pointer;
    color: rgb(41, 41, 151);
}*/
.videoDoc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right blue, );
  background-image: linear-gradient(to right blue);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  margin: 0 auto;
  max-width: 50%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 100px 50px 1fr 100px 200px;
      grid-template-rows: 100px 50px 1fr 100px 200px;
      grid-template-areas: "header1 header1 header1" "menu1 menu1 menu1" "footer1 footer1 footer1";
}

@media (min-width: 600px) and (max-width: 1000px) {
  main {
    -ms-grid-columns: 200px 1fr 200px;
        grid-template-columns: 200px 1fr 200px;
    -ms-grid-rows: 150px 100px 1fr 100px;
        grid-template-rows: 150px 100px 1fr 100px;
        grid-template-areas: "header1 header1 header1" "menu1 menu1 menu1" "footer1 footer1 footer1";
  }
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.rectangulo {
  background-color: #cccccc;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.rectangulo__img {
  width: 300px;
  height: 180px;
  margin-right: 30px;
}

.rectangulo__titulo {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.rectangulo__parrafo {
  line-height: 28px;
  font-size: 1rem;
}

.boton {
  height: 60px;
  padding: 20px;
  background-color: blue;
  color: white;
  display: inline-block;
  text-decoration: none;
}

.divContenedorArticle {
  border: 5px solid #4472CA;
  border-radius: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.articleContenedor {
  padding: 10px;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

footer p {
  background-image: url(img/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=estilo.css.map */